src/main/java/com/hp/demo/oo/beans/3b8a0134-fd41-4963-86a6-6f508813ea49.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root" type="rootType"/>
  <xs:complexType name="collectionType" mixed="true">
    <xs:sequence>
      <xs:element type="nodeType" name="node" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="refType" name="ref" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="type" use="optional"/>
    <xs:attribute type="xs:string" name="ordered" use="optional"/>
  </xs:complexType>
  <xs:complexType name="rootType">
    <xs:sequence>
      <xs:element type="nodeType" name="node"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="version"/>
    <xs:attribute type="xs:string" name="libraryDocVersion"/>
  </xs:complexType>
  <xs:complexType name="childType">
    <xs:sequence>
      <xs:element type="collectionType" name="collection" minOccurs="0"/>
      <xs:element type="refType" name="ref" minOccurs="0"/>
      <xs:element type="nodeType" name="node" minOccurs="0"/>
      <xs:element type="xs:string" name="map" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="name" use="optional"/>
  </xs:complexType>
  <xs:complexType name="attributeType" mixed="true">
    <xs:sequence>
      <xs:element type="collectionType" name="collection" minOccurs="0"/>
      <xs:element type="nodeType" name="node" minOccurs="0"/>
      <xs:element type="refType" name="ref" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="name" use="optional"/>
  </xs:complexType>
  <xs:complexType name="nodeType">
    <xs:sequence>
      <xs:element type="attributeType" name="attribute" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="childType" name="child" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="type" use="optional"/>
    <xs:attribute type="xs:string" name="id" use="optional"/>
  </xs:complexType>
  <xs:complexType name="refType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="pathref" use="optional"/>
        <xs:attribute type="xs:string" name="idref" use="optional"/>
        <xs:attribute type="xs:string" name="id" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
</xs:schema>